.team-div {
    margin: 0 0 0 38px;
}

.team-title {
    padding: 20px 0 11px 0;
    position: relative;
    font-size: 16px;
    font-weight: bold;
}

.page-slotbar {
    border: 0;
    background-color: #0c5986 !important;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#0c5986), to(#0c5986));
    background-image: -moz-linear-gradient(-90deg, #0c5986, #0c5986);
    padding:0;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    z-index: 10;
    height: 30px;
}

.home-icon {
    font-size: 30px !important;
    color: white;
}
.home-icon:hover {
    color: #0079bf;
    cursor: pointer;
}

.board-page {
    user-select: none;
    white-space: nowrap;
    margin-bottom: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    position: absolute;
    display: inline-flex;
    /* The top 30px depends from the page_slotbar */
    top: 30px;
    bottom: 0;
    left: 0;
}

.board-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
}

.board-list-item {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 1pc 8px 0;
    position: relative;
    width: 25%;
}

.board-tile {
    background-color: rgb(0, 121, 191);
    background-size: cover;
    background-position: center center;
    border-radius: 3px;
    color: #fff;
    display: block;
    line-height: 20px;
    margin-bottom: 8px;
    padding: 8px 9pt;
    position: relative;
    text-decoration: none;
    min-height: 60px;
}

.board-tile.create-new-board {
    background-color: #dad8d8;
}

.board-tile:hover {
    cursor: pointer;
    opacity: 0.8;
}

.list-wrapper {
    width: 270px;
    margin: 10px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}

.list-wrapper:first-child {
    margin-left: 10px;
}

.gen-list {
    background: #E2E4E6;
    border-radius: 3px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
}

.gen-list h3 {
    padding: 0 20px 10px 20px;
}

.list-cards {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 4px;
    padding: 0 4px;
    z-index: 1;
    min-height: 20px;
}

.list-card {
    background-color: #fff;
    border-bottom: 2px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 6px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    z-index: 0;
}

.list-card-label {
    overflow: hidden;
    padding: 6px 6px 2px 8px;
    position: relative;
    z-index: 10;
    clear: both;
    display: block;
    font-weight: 400;
    margin: 0 0 4px;
    overflow: hidden;
    text-decoration: none;
    word-wrap: break-word;
}

.list-card:hover{
    opacity: 0.8;
    cursor: pointer;
}

.add-new-card {
    border-radius: 0 0 3px 3px;
    color: #8c8c8c;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 8px 10px;
    position: relative;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;

}

.add-new-card-textarea {
    background: 0 0;
    border: none;
    box-shadow: none;
    height: auto;
    margin-bottom: 4px;
    max-height: 162px;
    min-height: 54px;
    overflow-y: auto;
    padding: 0;
    width: 100%;
}

.edit-list-name-input {
    border: none;
    box-shadow: none;
    padding: 0;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
}

.add-new-list {
    background: rgba(0,0,0,.12);
    border-radius: 3px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
    cursor: pointer;
}

.add-new-list:hover{
    background: rgba(0,0,0,.18);
}

.add-new-list h3 {
    padding: 0 20px 10px 20px;
    color: white;
}

.add-new-list-input {
    border: none;
    box-shadow: none;
    padding: 0;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
}


.add-new-team-btn {
    padding: 0 0 8px;
    position: relative;
    width: 100px;
}

.add-new-team-btn:hover{
    cursor: pointer;
    color: rgb(0, 121, 191);
    text-decoration: underline;
}

.show-card {

}
.show-card > .dijitDialogPaneContent{
    background-color: whitesmoke !important;
}
.show-card > .dijitDialogTitleBar {
    display: none;
}
.show-card-close {
    float: right;
    color: #c6c7c7;
    font-size: 20px !important;
}
.show-card-close:hover {
    cursor: pointer;
    color: #5a5d5d;
}


.edit-card-description {
    color: #8c8c8c;
    width: 100%;
    height: 50px;
    padding: 10px 0 10px 5px;
    border-radius: 3px;
}
.edit-card-description-textarea {
    overflow: hidden;
    word-wrap: break-word;
    resize: none;
    height: 100px;
    width: 100%;
}

.edit-card-description:hover {
    cursor: pointer;
    background: #D6DADC;
    color: #4d4d4d;
}

.edit-div-controls {
    display: inline-flex;
}

.edit-div-controls.new-card{
    margin: 0 0 10px 8px;
}

.save-btn {
    background: linear-gradient(to bottom,#61BD4F 0,#5AAC44 100%);
    box-shadow: 0 1px 0 #3F6F21;
    color: #fff;
    width: 60px;
    height: 25px;
    text-align: center;
    padding-top: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.save-btn:hover {
    background: -webkit-linear-gradient(top,#5AAC44 0,#519839 100%);
    background: linear-gradient(to bottom,#5AAC44 0,#519839 100%);
}

.disabled-btn {
    text-align: center;
    padding-top: 10px;
    border-radius: 3px;
    width: 60px;
    height: 25px;
    background: #E2E4E6;
    box-shadow: none;
    color: #8c8c8c;
    cursor: default;
    font-weight: 400;
    pointer-events: none;
}

.cancel-btn {
    color: #c6c7c7;
    font-size: 26px !important;
    margin: 6px 0 0 18px;
}

.cancel-btn:hover {
    cursor: pointer;
    color: #5a5d5d;
}

.card-header {
    margin-bottom: 20px;
}

.add-comment-div > .editing-box{
    width: 97%;
}
.add-comment-div > .comment-controls{
    margin-top: 5px;
}

.add-comment-div textarea {
    width: 100%;
    height: 80px;
    color: #4d4d4d;
    line-height: 18px;
    padding: 5px;
}

.prev-comment-container {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,.23);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    margin: 6px 2px 6px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.card-activity {
    margin-top: 10px;
}

.card-activity-title {
    font-size: 16px;
    font-weight: bold;
}

.card-prev-comment {
    margin: 10px 0;
}
.card-prev-commenter {
    font-weight: bold;
}
